.header-menu{
    margin-top: 10px;
    margin-right: 20px;
}

.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #204d74;
}

.new-post header,
.posts header{
    margin-bottom: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #c7254e;
    margin-bottom: 30px;
}

.posts .post .info{
    color: khaki;
    font-style: italic;
}

.error,
.success{
    text-align: center;
}

.error{
    border: 1px solid darkred;
    background-color: #ebccd1;
    color: #c7254e;
}

.error ul{
    list-style: none;
    padding: 0px;
}

.success{
    border: 1px solid green;
    background-color: greenyellow;
    color: green;
}

.profile_img {
    display: block;
    max-width:170px;
    max-height:200px;
    width: auto;
    height: auto;
    border-radius: 10px;
}


#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, cornflowerblue, cornflowerblue, #add8e6); /* Safari */
    background: -o-radial-gradient(circle,cornflowerblue, cornflowerblue, #add8e6); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, cornflowerblue, cornflowerblue, #add8e6); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, cornflowerblue, cornflowerblue, #add8e6); /* Standard syntax */
}

.loading-img{
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
}

.pattern-bg{
    background: url("../img/bg-pattern.png"), #6b395c;
    /* fallback for old browsers */
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #6b395c, #9a8e8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #6b395c, #9a8e8f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*.bgimg {*/
    /*background-image: url('../images/FotorCreated.jpg');*/
    /*background-repeat: no-repeat;*/
/*}*/