.header-menu{
    margin-top: 10px;
    margin-right: 20px;
}

.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #204d74;
}

.new-post header,
.posts header{
    margin-bottom: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #c7254e;
    margin-bottom: 30px;
}

.posts .post .info{
    color: khaki;
    font-style: italic;
}

.error,
.success{
    text-align: center;
}

.error{
    border: 1px solid darkred;
    background-color: #ebccd1;
    color: #c7254e;
}

.error ul{
    list-style: none;
    padding: 0px;
}

.success{
    border: 1px solid green;
    background-color: greenyellow;
    color: green;
}

img {
    display: block;
    max-width:170px;
    max-height:200px;
    width: auto;
    height: auto;
}

/*.bgimg {*/
    /*background-image: url('../images/FotorCreated.jpg');*/
    /*background-repeat: no-repeat;*/
/*}*/